#home-com{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    
}

#heading {
    padding-top: 20px;    
    margin-top: 0px;
}

#video-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    /* align-items: center; */
}

#single-video{
    border: 1px solid grey;
    margin-bottom: 50px;
    margin-right: 50px;
    border-radius: 2px;
    width: 640px;
}
