#heading {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;    
    border-bottom: 1px solid grey;
}

#video-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
}

#single-video{
    border: 1px solid grey;
    margin-bottom: 50px;
    width: 640px;
}
  
@media screen and (max-width:768px) {
    #video-div {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #single-video {
        width: auto;
    }

}
